{
	"rules": {
		"no-extend-native": 0,
		"no-eval": 0,
		"no-loop-func": 0,
		"no-redeclare": 0,
	    "no-unused-vars": 0,
		"space-infix-ops": 0,
	},
	"globals": {
		"$": true,
		"jQuery": true,
		"assert": true,
		"TokenScanner": true,
		"ExpressionNode": true,
		"ExpressionOperator": true,
		"ExpressionOperand": true,
		"ExpressionTree": true,
		"toPostfix": true,
		"parsePostfix": true,
		"Slick": true
	}
}
